*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Tajawal', sans-serif;
    background-color: #f7f5f1;
    color: #2B2B2B;
}
:root{
    --f1-color:#51557E;
    --s2-color: #816797;
}
.orange{
    color: #FF7700;
}
.green{
    color: #7FB77E;;
}
.navy{
    color: var(--s2-color);
}
/* start bost */
.bost{
    width: 95%;
    margin: 3px auto;
    background-color: #fff;
    
    border-radius: 10px;
    
}
.bost header h1{
    
}
.bost header i{
    font-size: 40px;
}
/* end bost */
.zikir {
    width: 95%;
    margin: 3px auto;
    
}
.zikir h5{
    background-color: #fff;
    border-radius: 10px;
}
.zikir .content{
    background-color: #fff;
    border-radius: 10px;
    bottom: 0;
}